nav {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}
nav ul {
  margin-left: 0.6em;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}

