/*body {
  max-width: 960px;
}*/

.wrapper {
  border: 5px solid #FFF0F5;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #FFF0F5;
  color: gray;
  margin: auto;
  max-width: 960px;
}
  
.box {
  background-color: #FFF0F5;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

 h1 {
  background-color: #FFF0F5;
  color: gray;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.header {
  grid-area: header;
  background-color: #FFF0F5;
  padding: 30px;
  text-align: center;
}

nav {
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}

nav ul {
  background-color: #FFF0F5;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

a:active {
  color: #FFF0F5;
  }

a:visited {
  color: rosybrown;
  }

a:hover {
  color: silver;
  }

a:link {
  text-decoration: none;
}

.box a {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid lightpink;
  padding: 50px;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
}
  
