/*body {
  max-width: 960px;
}*/

.wrapper {
  border: 5px solid darksalmon;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: darksalmon;
  color: white;
  margin: auto;
  max-width: 960px;
}
  
.box {
  background-color: darksalmon;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

 h1 {
  background-color: darksalmon;
  color: white;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.header {
  grid-area: header;
  background-color: darksalmon;
  text-align: center;
  padding: 30px;
}

nav {
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}

nav ul {
  background-color: darksalmon;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

a:link: {
  color: white;
}

a:active {
  color: whitesmoke;
  }

a:visited {
  color: white;
  }

a:hover {
  color: lightsalmon;
  }

a:link {
  text-decoration: none;
}

.box a {
  border-color: black;
}

