body {
  font-family: 'Raleway', sans-serif;
  
.header {
  grid-area: header;
  background-color: #FFF0F5;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: 'Great Vibes', cursive;
}
  
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
}

.left {
  grid-area: left;
  padding: 10px;
  height: 300px;
}

.middle {
  grid-area: middle;
  padding: 10px;
  height: 300px;
}

.right {
  grid-area: right;
  padding: 10px;
  height: 300px;
}

.footer {
  grid-area: footer;
  background-color: #FFF0F5;
  padding: 10px;
  text-align: center;
}

.nav {
  grid-column: 1/3;
  grid-row: 2/3;
}
  
a:active {
  color: #FFF0F5;
  }

a:visited {
  color: rosybrown;
  }

a:hover {
  color: silver;
  }

nav {
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}

nav ul {
  background-color: #FFF0F5;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

