.sidebar {
   grid-area: sidebar;
   background-color: white;
   height: 100%;
}

.content {
   grid-area: content;
   height: 100%;
}

.header {
   grid-area: header;
}

.wrapper {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto  auto  auto;
   grid-template-areas:
               "header header  header"
               "sidebar content content";
   background-color: darksalmon;
   color: #444;
   max-width: 960px;
}

.box {
  background-color: darksalmon;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.header {
  background-color: darksalmon;
}

nav {
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}

nav ul {
  background-color: darksalmon;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

.box sidebar {
   background-color: white;
}

a:link {
  color: white;
}
  
a:active {
  color: whitesmoke;
  }

a:visited {
  color: white;
  }

a:hover {
  color: lightsalmon;
  }

h2 {
  text-align: center;
}
          
