.wrapper {
  border: 5px solid darksalmon;
  grid-gap: none;
  background-color: darksalmon;
  max-width: 960px;
  margin: auto; 
  display: grid;
}

.wrapper-item {
  background-color: darksalmon;
}

.header {
  background-color: darksalmon;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1//2;
}

.nav {
  grid-column: 1/3;
  grid-row: 2/3;
}

a:link {
  color: white;
}
  
a:active {
  color: whitesmoke;
  }

a:visited {
  color: white;
  }

a:hover {
  color: lightsalmon;
  }

nav {
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}

nav ul {
  background-color: darksalmon;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

h1 {
  background-color: darksalmon;
  color: white;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

img { 
  background-color: darksalmon;
  border: 10px solid darksalmon;
}

.center {
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

#layout {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#skills {
  background-color: darksalmon;
  width: 300px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#awards {
  background-color: darksalmon;
  width: 300px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

hr:after {
    display: block;
    display: flex;
    height: 1px;
    border: 0;
    border-top: 3px solid black;
    margin-top: -19em;
    margin: 0;
    padding: 0;
    background: url("portrait4.png") no-repeat top center;
    content: "";
    height: 18px; /* height of the ornament */
    position: relative;
    top: -9px; /* half the height of the ornament */
    color: black;
}
}

.wrapper-item photo {
 position: relative;
}

p.multiple {
  color: white;
}
