.wrapper {
  border: 5px solid mistyrose;
  display: grid;
  grid-gap: none;
  background-color: mistyrose;
  max-width: 960px;
  margin: auto;
}

.wrapper-item {
  background -color: mistyrose;
}

.header {
  background-color: mistyrose;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1//2;
}

.nav {
  grid-column: 1/3;
  grid-row: 2/3;
}
  
a:active {
  color: mistyrose;
  }

a:visited {
  color: rosybrown;
  }

a:hover {
  color: silver;
  }

nav {
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 0.25em 0;
}

nav ul {
  background-color: mistyrose;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

h1 {
  background-color: mistyrose;
  color: black;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

img { 
  background-color: mistyrose;
  border: 10px solid mistyrose;
}

.center {
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
