html {
  margin: 20px;
  padding: 20px;
  }
body {
  font-size: 16px;
  font-family: sans-serif;
  color: #222;
  }
header {
  background-color: plum;
  }
h3 {
  font: Bold, Source Sans Pro;
  }
nav {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
nav ul {
  padding-left: 0;
        list-style: none;
        margin: 0;
}
.page-wrapper {
  background:plum
  padding: 0 175px 0 110px;
  margin: 0;
  position: relative;
}

.intro {
  min-width: 470px;
  width: 100%;
}
.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(http://csszengarden.com/001/paper-bg.jpg) top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	background: transparent plum no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
 .sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent plum no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}
  
