html {
  margin: 20px;
  padding: 20px;
  }
body {
  font-size: 16px;
  font-family: font-family: 'Raleway', sans-serif;
  color: #222;
  }
a {
  display: inline;
}
#header {
  background-color: plum;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  }
h3 {
  font: Bold, Source Sans Pro;
  }
#container {
  background-color: white;
}
#nav {
    width: 180px;
}
#nav ul {
  list-style-type: none;
}
#nav .selected {
  font-weight: bold;
}
#footer {
  border: medium;
}
p {
  border: 3px solid plum;
  height: 200px;
  width: 990px;
}




