html {
  margin: 20px;
  padding: 20px;
  }
body {
  font-size: 16px;
  font-family: sans-serif;
  color: #222;
  }
#header {
  background-color: plum;
  text-align: center;
  }
h3 {
  font: Bold, Source Sans Pro;
  }
#container {
  background-color: white;
}

#nav {
    width: 180px;
}

#nav ul {
  list-style: 
}

#nav .selected {
  font-weight: bold;
}



